section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .main__heading {
    font-size: 13vw;
    font-weight: 500;
}

section .secondary__heading {
    font-size: 3.5vw;
    font-weight: 300;
    color: var(--color-hi)
}